
<div classs="row">
	<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 rcorners2">
		<h1>Latest Orders</h1>
		  <%  @orders.each do |order| %>
          <h4> <%= link_to  order.for+"  on  "+order.created_at.to_s  , order %></h4>

          <% end %>

	</div>

	<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
		
	</div>

	<div   data-behavior='notifeeds' class="col-md-5 col-lg-5 col-sm-5 col-xs-5 rcorners2">
		<h1>Friends Activity</h1>
		<div  data-behavior='notification-feeds'>

		</div>
	</div>


</div>
